body {
  width: 100%;
  height: 2000px;
  margin: auto;
}
h1 {
  font-family: lexend;
}

h2 {
  font-family: monospace;
  width: 700px;
}

p {
  font-family: monospace;
  font-size: large;
}

#header-image {
  width: 30%;
}

.zoom-image {
  width: 100%;
  transition: transform 0.1s ease-out;
  display: block;
}

.empty-div {
  margin: 100px;
}

@media (max-width: 600px) {
  h2 {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 10px;
  }
  p {
    font-size: 1rem;
    padding: 0 10px;
  }

  #header-image {
    width: 80%;
  }

  .empty-div {
    margin: 50px;
  }

  body {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
